<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="ds.css">
    <title>Document</title>
</head>
<body>

    
    <h1 class="heading">E-Rickshaw Lithium Ion Batteries</h1>
    <div class="underline-head"></div>


    <div class="ds-parent">
        <p>
            We Provide solution in lithium ion battery pack for electric Rickshaw. E-Rex is known for its E- Rickshaw batteries safety and wide range.
        </p>

        <h1 class="heading">48 Voltage Range</h1>
        <div class="underline"></div>


        <div class="data-parent">
            <div class="data-container">
                <h1>48 V</h1>
                <div class="line"></div>
                <h1>85 Ah</h1>
                <div class="line"></div>
                <h1 class="last-h1">4.0 KWh</h1>

                <a href="">DataSheet</a>

            </div>

            <div class="data-container">
                <h1>48 V</h1>
                <div class="line"></div>
                <h1>85 Ah</h1>
                <div class="line"></div>
                <h1 class="last-h1">4.0 KWh</h1>

                <a href="">DataSheet</a>

            </div>

            <div class="data-container">
                <h1>48 V</h1>
                <div class="line"></div>
                <h1>85 Ah</h1>
                <div class="line"></div>
                <h1 class="last-h1">4.0 KWh</h1>

                <a href="">DataSheet</a>

            </div>
        </div>

        <h1 class="heading">48 Voltage Range</h1>
        <div class="underline"></div>


        <div class="data-parent">
            <div class="data-container">
                <h1>48 V</h1>
                <div class="line"></div>
                <h1>85 Ah</h1>
                <div class="line"></div>
                <h1 class="last-h1">4.0 KWh</h1>

                <a href="">DataSheet</a>

            </div>

            <div class="data-container">
                <h1>48 V</h1>
                <div class="line"></div>
                <h1>85 Ah</h1>
                <div class="line"></div>
                <h1 class="last-h1">4.0 KWh</h1>

                <a href="">DataSheet</a>

            </div>

            <div class="data-container">
                <h1>48 V</h1>
                <div class="line"></div>
                <h1>85 Ah</h1>
                <div class="line"></div>
                <h1 class="last-h1">4.0 KWh</h1>

                <a href="">DataSheet</a>

            </div>
        </div>


        <h1 class="heading">48 Voltage Range</h1>
        <div class="underline"></div>


        <div class="data-parent">
            <div class="data-container">
                <h1>48 V</h1>
                <div class="line"></div>
                <h1>85 Ah</h1>
                <div class="line"></div>
                <h1 class="last-h1">4.0 KWh</h1>

                <a href="">DataSheet</a>

            </div>

            <div class="data-container">
                <h1>48 V</h1>
                <div class="line"></div>
                <h1>85 Ah</h1>
                <div class="line"></div>
                <h1 class="last-h1">4.0 KWh</h1>

                <a href="">DataSheet</a>

            </div>

            <div class="data-container">
                <h1>48 V</h1>
                <div class="line"></div>
                <h1>85 Ah</h1>
                <div class="line"></div>
                <h1 class="last-h1">4.0 KWh</h1>

                <a href="">DataSheet</a>

            </div>
        </div>
    </div>
</body>
</html>